{% extends "base.html" %} {% block title %}Update Profile{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">Update Profile</h3>
      <div class="form-group">
        <label for="password1">Password</label>
        <input
          type="password"
          id="password1"
          name="password1"
          class="form-control"
          placeholder="Enter Password"
        />
        <label for="password2">Password Again</label>
        <input
          type="password"
          id="password2"
          name="password2"
          class="form-control"
          placeholder="Enter Password Again"
        />
        <br />
        <div align="center">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
        <br />
        <div align="center">
          <a href="/dashboard"
            ><button type="button" class="btn btn-primary btn-lg">Back</button></a
          >
        </div>
      </div>
    </form>
    {% endblock %}